@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/* Style entire website */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
  color: #222;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Style navigation bar */
.navbar {
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 22px;
}

.nav-link {
  font-size: 1.1rem !important;
}

.padding {
  padding: .5rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* Style the footer */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top:2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom:1rem;
}


/* Style the very first header */
h5 {
  vertical-align: middle;
  line-height: 500px;
  font-size: 70px;
}


/* Style the top banner for non-home pages */
.banner2 {
  height: 500px;
  background-image: url('images/purplesky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
}

 
/* Split the screen in half */
.split {
  height: 550px;
  width: 23%;
  position: absolute;
  z-index: 1;
  top: 750px;
}

/* Sets the map height */
#map {
  position: relative;
  height: 87%;
}

#description {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .pac {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.title {
  font-size: 20px;
  line-height: 23px;
}

.col-12 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
}


#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #111;
}

#pac {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  font-family: 'Noto Sans JP', sans-serif;
}

.index-page{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  background-image: url('../images/image.jpg'); 
  background-size: 100% 100%;
}

.splash-page {
  text-align: center;
}

.centered {
  display: inline-block;
}

.button {
  background-color:#808080;
  border-radius:15px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 12px 16px;
}
.button:hover {
  background-color:#6c7c7c;
}
.button:active {
  position: relative;
  top: 1px;
}

.nicebox {
  position: absolute;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: 0 4px 6px -4px #333;
  padding: 5px 10px;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
  border: rgb(229, 229, 229) 1px solid;
}

#controls {
  top: 150px;
  left: 10px;
  width: 375px;
  height: 60px;
}

#data-box {
  top: 220px;
  left: 10px;
  height: 30px;
  line-height: 20px;
  display: none;
}

#census-variable {
  width: 360px;
  height: 20px;
}

#legend { 
  display: flex; 
  display: -webkit-box; 
  padding-top: 7px 
}

.color-key {
  background: linear-gradient(to right,
  hsl(78, 76%, 44%) 0%,
  hsl(54, 75%, 47%) 17%,
  hsl(48, 74%, 48%) 33%,
  hsl(40, 73%, 49%) 50%,
  hsl(29, 71%, 51%) 67%,
  hsl(15, 70%, 53%) 83%,
  hsl(2, 69%, 54%) 100% 
  );
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0 5px;
  text-align: left;
  font-size: 1.0em;
  line-height: 1.0em;
}

#data-value { 
  font-size: 2.0em; 
  font-weight: bold 
}

#data-label { 
  font-size: 2.0em; 
  font-weight: normal; 
  padding-right: 10px; 
}
        
#data-label:after { 
  content: ':' 
}
        
#data-caret { 
  margin-left: -5px; 
  display: none; 
  font-size: 14px; 
  width: 14px
}